doctype html
html
	head
		title List of Quotes
	body
		h1.title List of Quotes
		ul.list-of-quotes
			each quote, index in quotes
				include item.pug
		div
			textarea.add-quote-text(type="text")
			button.add-quote-button +
			button.random-quote-button *

		style!=style
		script!=script