doctype html
html
	head
		title List of Quotes
	body
		h1 List of Quotes
		ul.list-of-quotes
			each quote, index in quotes
				include item.pug
		span
			input.add-quote-text(type="text")
			button.add-quote-button +

		style!=style
		script!=script